## Get the original data

In [19]:
# The code was removed by Watson Studio for sharing.

(180, 3)

## Ignore cells with a borough that is Not assigned. 
## If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [20]:
print("a")

a

In [21]:
df_data_2 = df_data_1.drop(df_data_1[df_data_1.Borough == 'Not assigned'].index)
df_data_2.head(100)
df_data_2.loc[df_data_2['Neighbourhood']=='Not assigned']
df_data_2['Neighbourhood'][df_data_2['Neighbourhood']=='Not assigned']=df_data_2['Borough']
df_data_2.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

## print the shape

In [22]:
df_data_2.shape

(103, 3)

## combine the latitude/longitude information

In [23]:

body = client_4837f256871943e2ad5eaad43b31fe05.get_object(Bucket='test-donotdelete-pr-8hvz344xv5sfly',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_3 = pd.read_csv(body)
df_data_3.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [25]:
df_data_4 = pd.merge(left=df_data_2,right=df_data_3, on = "Postal Code")
df_data_4.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494